@import './other.css';

@font-face {
    font-family: 'candy';
    src: url('../fonts/Hanyi Senty Candy-color.ttf');
}
.tip{
    background-color: #fff;
}
body{
    background-image: url('./images/bai.png');
    font-family: candy;
}